extends layout

block content
  #main
    h1#main__heading= title
    p#main__subheading Yes, I know the name's a mouthful.
    a(href="https://github.com/BTJudge/IMDB-UK-Film-Scraper")
      i.fab.fa-github
    unless (imdbLoading === 'done')
      #loading__loader
      script(src='/javascripts/reload.js')
    else
      ul#main__filmlist
        each film in imdbData
          li.filmlist__filmitem(style='background-image:url("'+film.filmImage+'")')
            if (film.filmImage === '/images/favicon/android-chrome-512x512.png')
              a.filmitem__filmlink.alwaysShow(href=film.filmCalendarLink, target='_blank')
                p.filmlink__filmtitle= film.filmTitle
                p.filmlink__filmdate= film.filmDateString
            else
              a.filmitem__filmlink(href=film.filmCalendarLink, target='_blank')
                p.filmlink__filmtitle= film.filmTitle
                p.filmlink__filmdate= film.filmDateString




